/* Color Theme  
 #53616B 
 #1B2C38 
 #181C1F - Base
 #33536B
 #8EA6B8
*/

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
:before,
:after {
 box-sizing: inherit;
}

/* ----- Utility Styles ---- */

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 1px solid #c0c0c0;
  padding: 5px;
}



/* ---- Responsive Images ----*/
img {
  max-width: 100%;
  height: auto;
}

/* ----- Global Styles ---- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

/* ------------- Header --------------- */

header.primary {
  background-color: #181c1f;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  /* Shorhand T,R,B,L*/
  padding: 6em 2em;
  position: relative;
}

header.primary::before {
  content: "";
  background-image: url("https://assets.codepen.io/7248/dragon-in-space.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .4;
}

header.primary h1 {
  font-size: 3.2rem;
  margin: 20px 0;
  position: relative;
}

header.primary h1 a {
  color: #ffffff;
  background-image: url("https://assets.codepen.io/7248/logo-2.png");
  display: block;
  width: 449px;
  height: 70px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

header.primary h2 {
  font-family: "Goldman", cursive;
  font-size: 2em;
  /* Shorhand Three Value Top, Left/Right, Bottom*/
  margin: 20px auto 40px;
  position: relative;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 20%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(142, 166, 184, 0.4);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.6s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(51, 83, 107, 0.8);
}


/* ------------- Content --------------- */

section#content {
  padding: 4em 0 4em 0;
}

section#content h2{
  font-family: "Goldman", cursive;
  font-size: 2.2em;
  color: #33536b;
 text-align:center;
}

/* ------------- Articles --------------- */

section#articles {
  background: #181c1f;
}

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #c0c0c0;
  padding: 0 0 4em 0;
}

section#articles h2,
#content h2 {
  flex: 0 0 100%;
  color: #33536b;
  text-align: center;
  font-family: "Goldman", cursive;
  font-size: 2em;
}

section#articles h2 {
  color: #fff;
  text-shadow: 2px 2px #000;
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#articles article time,
#articles article figcaption,
#articles article footer {
  font-size: 0.8em;
  color: #c0c0c0;
  text-transform: uppercase;
}

#articles .post a:link,
#articles .post a:visited {
  color: #3b638b;
}

#articles .post figure {
  margin: 0;
}

#articles .post img {
  border-radius: 10px;
}

#articles ul {
  padding: 0 20px;
}
#articles li {
  margin-bottom: 20px;
}

/* ------------- Hero --------------- */

#hero {
  padding: 4em 0;
}


/* ------------- Aside --------------- */

/* Attribute Selector */
aside[role="complementary"] {
  background-color: #181c1f;
  color: #ffffff;
  padding: 2.5em;
}

aside .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside article.widget {
  width: 40%;
}

.widget.overview table {
  font-size: 0.7em;
  border-collapse: collapse;
}

.widget.overview table td {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.widget.overview table td:nth-child(even) {
  text-align: right;
}

aside article a:link,
aside article a:visited {
  color: #ffffff;
  display: block;
  margin-top: 1.2em;
  letter-spacing: 1.2px;
}

aside article a:hover,
aside article a:active {
  text-decoration: none;
}

aside article footer {
  display: none;
}

/*------ Footer ------*/

footer#colophon {
  background-color: #1b2c38;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited {
  color: #fff;
}


/* ---------------Media Queries----------------- */

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
  }

  header.primary nav ul li {
    margin-bottom: 10px;
    width: 400px;
  }

  header.primary nav ul li a {
    display: block;
  }

  section#articles .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c0c0;
    padding: 0 0 4em 0;
  }

  #articles article.post {
    width: 100%;
    margin-bottom: 2em;
  }
}